In [11]:
import spacy
nlp = spacy.load("en_core_web_sm")
doc = nlp("upGrad is teaching Data Science courses to the working professionals.")
for token in doc:
    print(token.text, token.pos_, token.tag_)

upGrad NOUN NN
is AUX VBZ
teaching VERB VBG
Data PROPN NNP
Science PROPN NNP
courses NOUN NNS
to ADP IN
the DET DT
working VERB VBG
professionals NOUN NNS
. PUNCT .

In [12]:


# Load the Samsung.txt dataset
con=open("casestudy/samsung.txt",'r', encoding="utf-8")
samsung_reviews=con.read()
con.close()

In [9]:
len(samsung_reviews.split("\n"))

46355

In [13]:
samsung_reviews.split("\n")[0:4]

["I feel so LUCKY to have found this used (phone to us & not used hard at all), phone on line from someone who upgraded and sold this one. My Son liked his old one that finally fell apart after 2.5+ years and didn't want an upgrade!! Thank you Seller, we really appreciate it & your honesty re: said used phone.I recommend this seller very highly & would but from them again!!",
 'nice phone, nice up grade from my pantach revue. Very clean set up and easy set up. never had an android phone but they are fantastic to say the least. perfect size for surfing and social media. great phone samsung',
 'Very pleased',
 'It works good but it goes slow sometimes but its a very good phone I love it']

In [14]:
review1=samsung_reviews.split("\n")[0]
review1=nlp(review1)

In [15]:
sent1 = "I loved the screen on this phone"
sent2 = "The battery life on this phone is great"
sent3 = "The speakers are pathetic"

In [17]:
doc1 =  nlp(sent1)
doc2 = nlp(sent2)
doc3 = nlp(sent3)

In [18]:
for tok in doc1:
    print(tok.text, tok.pos_, tok.tag_)
for tok in doc2:
    print(tok.text, tok.pos_, tok.tag_)
for tok in doc3:
    print(tok.text, tok.pos_, tok.tag_)

I PRON PRP
loved VERB VBD
the DET DT
screen NOUN NN
on ADP IN
this DET DT
phone NOUN NN
The DET DT
battery NOUN NN
life NOUN NN
on ADP IN
this DET DT
phone NOUN NN
is AUX VBZ
great ADJ JJ
The DET DT
speakers NOUN NNS
are AUX VBP
pathetic ADJ JJ

In [20]:
import pandas as pd
pos = []
lemma = []
text = []
for tok in review1:
    pos.append(tok.pos_)
    lemma.append(tok.lemma_)
    text.append(tok.text)
 
# Convert the data into a dataframe object.
nlp_table = pd.DataFrame({'text':text,'lemma':lemma,'pos':pos})
nlp_table.head()

    text  lemma   pos
0      I      I  PRON
1   feel   feel  VERB
2     so     so   ADV
3  LUCKY  lucky   ADJ
4     to     to  PART

In [34]:
nlp_table[nlp_table.pos.isin(['NOUN'])].sort_values('lemma')

       text    lemma   pos
65  honesty  honesty  NOUN
23     line     line  NOUN
31      one      one  NOUN
38      one      one  NOUN
10    phone    phone  NOUN
21    phone    phone  NOUN
70    phone    phone  NOUN
75   seller   seller  NOUN
52  upgrade  upgrade  NOUN
46    years     year  NOUN

In [35]:
nlp_table[nlp_table.pos.isin(['NOUN'])]['lemma'].value_counts()

phone      3
one        2
year       1
upgrade    1
honesty    1
line       1
seller     1
Name: lemma, dtype: int64

In [39]:
pos = []
lemma = []
text = []
for str in samsung_reviews.split("\n")[0:1000]:
    review = nlp(str)
    for tok in review:
        pos.append(tok.pos_)
        lemma.append(tok.lemma_)
        text.append(tok.text)
 
# Convert the data into a dataframe object.
nlp_table = pd.DataFrame({'text':text,'lemma':lemma,'pos':pos})
nlp_table.head()

    text  lemma   pos
0      I      I  PRON
1   feel   feel  VERB
2     so     so   ADV
3  LUCKY  lucky   ADJ
4     to     to  PART

In [40]:
nlp_table[nlp_table.pos=='NOUN']['lemma'].value_counts()

phone        1208
battery        92
time           90
price          87
screen         86
             ...
morrol          1
electric        1
galaxys5        1
ladder          1
greatness       1
Name: lemma, Length: 1322, dtype: int64

In [46]:
from tqdm import tqdm
nlp = spacy.load("en_core_web_sm",disable=['parser','ner'])

pos = []
lemma = []
text = []
for str in tqdm(samsung_reviews.split("\n")):
    review = nlp(str)
    for tok in review:
        pos.append(tok.pos_)
        lemma.append(tok.lemma_)
        text.append(tok.text)
 
# Convert the data into a dataframe object.
nlp_table = pd.DataFrame({'text':text,'lemma':lemma,'pos':pos})
nlp_table.head()

100%|██████████| 46355/46355 [02:56<00:00, 261.95it/s]

    text  lemma   pos
0      I      I  PRON
1   feel   feel  VERB
2     so     so   ADV
3  LUCKY  lucky   ADJ
4     to     to  PART

In [43]:
nlp_table[nlp_table.pos=='NOUN']['lemma'].value_counts()

phone        43237
battery       4350
product       3907
time          3825
screen        3746
             ...
charger(s        1
bxxx             1
scenerio         1
thwnk            1
presale          1
Name: lemma, Length: 9002, dtype: int64

In [47]:
sent1 = 'I saw him running away'
doc1 = nlp(sent1)

for tok in doc1:
    print(tok.text, tok.pos_, tok.tag_)

I PRON PRP
saw VERB VBD
him PRON PRP
running VERB VBG
away ADV RB

In [48]:
data = pd.read_csv("casestudy/tagged_words.csv")
sent = "I saw him running away"

data

               word   tag
0               the   DET
1            fulton  NOUN
2            county  NOUN
3             grand   ADJ
4              jury  NOUN
...             ...   ...
1161187      boucle  NOUN
1161188       dress  NOUN
1161189         was  VERB
1161190  stupefying  VERB
1161191           !   ADJ

[1161192 rows x 2 columns]

In [49]:
def get_common_tag(data,word):
    if word.lower() in data['word'].unique():
        q = f"word=='{word.lower()}'"
        return word , data.query(q)['tag'].value_counts().head(1).index.tolist()[0]
    else:
        return f"{word} not in data"

for word in sent.split(" "):
    print(get_common_tag(data,word))
 
data.query("word=='saw'")['tag'].value_counts()

('I', 'PRON')
('saw', 'VERB')
('him', 'PRON')
('running', 'VERB')
('away', 'ADV')

VERB    347
NOUN      5
Name: tag, dtype: int64

In [50]:
for word in "He wished he was rich".split(" "):
    print(get_common_tag(data, word.lower()))

('he', 'PRON')
('wished', 'VERB')
('he', 'PRON')
('was', 'VERB')
('rich', 'ADJ')

In [51]:
data

               word   tag
0               the   DET
1            fulton  NOUN
2            county  NOUN
3             grand   ADJ
4              jury  NOUN
...             ...   ...
1161187      boucle  NOUN
1161188       dress  NOUN
1161189         was  VERB
1161190  stupefying  VERB
1161191           !   ADJ

[1161192 rows x 2 columns]

In [55]:
emmission_matrix = pd.crosstab(data['word'],data['tag'],normalize='columns')

emmission_matrix

tag,ADJ,ADP,ADV,CONJ,DET,NOUN,NUM,PRON,PRT,VERB,X
word,,,,,,,,,,,
!,0.638047,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
$.027,0.000000,0.0,0.0,0.0,0.0,0.000007,0.0,0.0,0.0,0.0,0.000000
$.03,0.000000,0.0,0.0,0.0,0.0,0.000015,0.0,0.0,0.0,0.0,0.000000
$.054/mbf,0.000000,0.0,0.0,0.0,0.0,0.000004,0.0,0.0,0.0,0.0,0.000000
$.07,0.000000,0.0,0.0,0.0,0.0,0.000011,0.0,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
zurcher,0.000000,0.0,0.0,0.0,0.0,0.000007,0.0,0.0,0.0,0.0,0.000000
zurich,0.000000,0.0,0.0,0.0,0.0,0.000007,0.0,0.0,0.0,0.0,0.000000
zwei,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000722
zworykin,0.000000,0.0,0.0,0.0,0.0,0.000007,0.0,0.0,0.0,0.0,0.000000
"{0,t}",0.000000,0.0,0.0,0.0,0.0,0.000004,0.0,0.0,0.0,0.0,0.000000

In [56]:
word = 'his'
emmission_matrix.loc[word][emmission_matrix.loc[word]>0].round(3)

tag
DET     0.051
PRON    0.001
X       0.001
Name: his, dtype: float64

In [57]:
emmission_matrix['PRON'].loc['his'].round(3)

0.001